{% extends 'base.html' %}
    {% block content %}
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
            <div class="modal-inner">
                <div class="row">
                    <!-- <div class="col-md-5">
                        left
                    </div> -->
                    <div class="col-md-12">
                        <div class="modal-inner-box">
                            <div class="autho-model-header text-center">
                                <a href="javascript:void(0);"><img src="assets/images/index1/big_logo.png" alt="logo" class="img-fluid"></a>
                                <h2 class="autho-model-ttl">ثبت نام </h2>
                            </div>

                            <div class="autho-model-filed">
                                <form method="POST" action="{% url 'register' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="e-form-field mb-20">
                                                <label>username</label>
                                                {{ form.username }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="e-form-field mb-20">
                                                <label>first name</label>
                                                {{ form.first_name }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="e-form-field mb-20">
                                                <label>last name</label>
                                                {{ form.last_name }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="e-form-field mb-20">
                                                <label>email</label>
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="e-form-field mb-20">
                                                <label>phone</label>
                                                {{ form.phone }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="e-form-field mb-20">
                                                <label>gender</label>
                                                {{ form.sex }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="e-form-field mb-20">
                                                <label>age</label>
                                                {{ form.age }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="e-form-field mb-20">
                                                <label>password</label>
                                                {{ form.password1 }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="e-form-field mb-20">
                                                <label>password confirmation</label>
                                                {{ form.password2 }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="">
                                                <button type="submit" class="btn btn-outline-info">
                                                    ثبت نام
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    {% endblock %}